// Specific CSS for your home-page
.banner-home {
  height: 400px;
  background-image: url("http://res.cloudinary.com/drz9cgt7n/image/upload/v1701204573/jun7zqcxettver7mer1h.jpg");
  background-size: cover;
  background-position: 40% 40%;
  opacity : 0.6;
}
.card-1 {
  border: 2px solid #dbd0d0;
  height: 300px;
  width: 600px;
  border-radius: 10px;
  margin: 20px;
  padding: 12px;
  box-shadow: 10px 10px 5px rgb(166, 212, 227);
}
.container {
  display: flex;
  justify-content:center;
}
