// Specific CSS for your home-page
.banner-home {
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.116),rgba(0, 0, 0, 0.001)), url("http://res.cloudinary.com/drz9cgt7n/image/upload/v1701204573/jun7zqcxettver7mer1h.jpg");
  background-size: cover;
  background-position: 40% 40%;
}

.banner-container h1 {
  margin: 0;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}
.banner-container p {
  font-size: 20px;
  color:#fafafa;
  opacity : 0.9;
}
.button-home {
  background: #340089;
  border: 0px solid;
  border-radius: 30px;
  margin: 50px auto;
  padding-left: 50px;
  padding-right: 50px;
  height: 50px;
  a {
    text-decoration: none;
    font-weight: bold;
    color:#dbd0d0;
  }
}

.banner-container {
  display: flex;
  flex-direction: column;
  margin: 0px 200px 50px 200px;
  padding-top: 80px;
}
.card {
  height: 300px;
  width: 700px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(135, 66, 1, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.container-card {
  display: flex;
  justify-content: center;
}
.card-info {
  margin: 0 10% 0 10%;
  h3 {
    font-size: 25px;
    font-weight: bold;
  }
  p {
    font-size: 19px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}
