<%= simple_form_for [group] do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: Group::CATEGORIES %>
  <div class="d-grid mb-2">
    <%= f.submit class: "log-btn" %>
  </div>
<% end %>
