<div class="login-form">
  <div class="form-group">
    <h1 class="text-center mt-3">Edit Group</h1>
    <h6 class="text-center mt-3 mb-5">Update your preferences below</h6>
      <%= render "form", group: @group %>
  </div>
</div>
