<h1 class="m-2 text-center">Groups</h1>
 <%# <button><%= link_to "Create Group", new_group_path, class: "btn btn-success" %>


<div class="cards">
  <% @groups.each do |group| %>
    <%= link_to group_path(group), class: "card-category card-background" do %>
      <%= group.name %>
    <% end %>
  <% end %>
</div>
