<div class="banner-home">
  <div class="banner-container">
    <h1>Lorem ipsum dolor</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididun</p>
    <button class="button-home"><%= link_to "Let's start",   new_user_registration_path %></button>
    <%# <%= link_to "Edit", edit_group_path(@group), class: "btn btn-success" %> 
  </div>
</div>

<div class="container-card">

  <div class="card">
      <img src="https://www.casamagalhaes.com.br/blog/wp-content/uploads/2017/01/guia-completo-para-abrir-um-bar.jpg">
  <div class="card-info">
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
  </div>
  </div>

</div>
