<div class="banner-home">
  <div class="banner-container">
    <h1>Halfway</h1>
      <p> Divirta-se com amigos: risos infinitos, momentos inesquecíveis!</p>
      <button class="btn-home"><%= link_to "Let's start", new_user_registration_path%></button>
  </div>
</div>

<div class="container-card">

  <div class="card">
      <img src="https://www.casamagalhaes.com.br/blog/wp-content/uploads/2017/01/guia-completo-para-abrir-um-bar.jpg">
  <div class="card-info">
      <h3>Reunia-se com os amigos</h3>
      <p> Cada encontro é uma pausa no caos diário, uma terapia de felicidade compartilhada. É nesses momentos que descobrimos que, mais do que amigos, somos uma extensão da nossa própria alegria. </p>
  </div>
  </div>

</div>
