<div class="banner-home">
  <div class="banner-container">
    <h1>Lorem ipsum dolor</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididun</p>
    <button class="button-home"><%= link_to "Let's start",   new_user_registration_path %></button>
  </div>
</div>

<div class="container">
  <div class="card-1">
    <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

</div>
