.button-black {
  background-color: #000000;
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(135, 66, 1, 0.2);
  cursor: pointer;
  font-size: 16px;
  text-decoration:none;
}

.button-black:hover {
  background-color: #ffffff;
  color: #000000
}


.button-white {
  background-color: rgb(255, 255, 255);
  color: #FF914D;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(135, 66, 1, 0.2);
  cursor: pointer;
  font-size: 16px;
}

.button-white:hover {
  background-color: #ffffff;
  color: #000000
}
.btn-chat {
  background-color: #000000;
  color: whitesmoke;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(135, 66, 1, 0.2);
  cursor: pointer;
  font-size: 16px;
  text-decoration:none;
}

.btn-home {
  color: #ffffff;
	text-decoration:none;
	background-color:#FF8C00;
	border-radius:8px;
	border:none;
	cursor:pointer;
	font-size:20px;
	padding:10px 30px 10px 30px;
  font-weight: bold;
  margin: 32px auto 0 auto;
  box-shadow: 5px 5px 5px rgba(135, 66, 1, 0.3);
  display: inline-block;

  a{
  color: #ffffff;
	text-decoration:none;

  }
}
.btn-home:hover {
	background-color:#d37400;
}
.bnt-home:active {
	position:relative;
	top:1px;
}


// Botao do chat \/
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(0, 0, 0);
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}
// Botao do chat /\
