.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(135, 66, 1, 0.4);
  transition: .4s
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-category:hover {
  scale: 1.04;
  transition: .3s;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}

.card-activity {
  display: grid;
  grid-gap: 16px;
  overflow: hidden;
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-activity>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-activity h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-activity p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-activity .card-activity-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-activity-infos .card-activity-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-group-show {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #d1d1d1;
  overflow: hidden;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 40px;
}

.card-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.116),rgba(0, 0, 0, 0.001)), url("http://res.cloudinary.com/drz9cgt7n/image/upload/v1701204573/jun7zqcxettver7mer1h.jpg");
  text-decoration: none;
}

.cards-home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 32px;
}

.cards-home{
  display: flex;
  align-items: center;
  gap: 32px;
  box-shadow: 10px 9px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
}

.card-home {
  flex-grow: 3;
}

.cards-home img {
  width: 200px;
  // height: 100%;
}

.cards-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
