.chatroom {
  background: white;
  margin-bottom: 20px;
  height: 50vh;
  max-height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 8px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .form-group {
      margin-bottom: 0;
    }
  }
}
.current-user {
  background-color: #fb8500;
  float: right;
}
.other-user {
  background-color: #fcbf49;
  float: left;
}
.current-user, .other-user {
  clear: both;
  border: 1px;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  // font-family: 'League Spartan', sans-serif;
}
#message_content {
  resize: none;
}
#chat-textarea {
  margin: 0 !important;
}
